/build/
project.egg-info/SOURCES.txt
project.egg-info/SOURCES.txt
.DS_Store
Description/~$Spiderliste.xlsx
NeueScraper/__pycache__/__init__.cpython-39.pyc
NeueScraper/__pycache__/pipelines.cpython-39.pyc
NeueScraper/__pycache__/settings.cpython-39.pyc
NeueScraper/spiders/__pycache__/__init__.cpython-39.pyc
NeueScraper/spiders/__pycache__/AG_Gerichte.cpython-39.pyc
NeueScraper/spiders/__pycache__/basis.cpython-39.pyc
NeueScraper/spiders/__pycache__/weblaw.cpython-39.pyc
*.pyc
*.pyc
NeueScraper/__pycache__/settings.cpython-37.pyc
NeueScraper/__pycache__/__init__.cpython-37.pyc
NeueScraper/__pycache__/settings.cpython-37.pyc
project.egg-info/entry_points.txt
project.egg-info/entry_points.txt
project.egg-info/PKG-INFO
project.egg-info/SOURCES.txt
NeueScraper/spiders/test.py
